{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load customtags %}

{% block title %}About Ali Khundmiri.{% endblock %}

{% block meta_description %}Lets go shopping!{% endblock %}

{% block meta_author %}Ali Khundmiri of AliCoderMaker{% endblock %}

{% block other_meta %}

<meta name="twitter:card" content="summary_large_image">

<meta name="twitter:site" content="@AliCoderMaker">

<meta name="twitter:creator" content="@AliCoderMaker">

<meta property="og:url" content="{{ request.build_absolute_uri }}">

<meta name="twitter:image" content="https://s3.amazonaws.com/side-projects/rs_directory/media/base/reven_sours_social_image.png">

<meta property="og:image" content="https://s3.amazonaws.com/side-projects/rs_directory/media/base/reven_sours_social_image.png">

<meta name="twitter:title" content="A Curated List of Real Online Income Sources!">

<meta property="og:title" content="A Curated List of Real Online Income Sources!">

<meta name="twitter:description" content="Shopping list of a frugal person. Buy best products in cheap price range.">

<meta property="og:description" content="Shopping list of a frugal person. Buy best products in cheap price range.">

{% endblock %}



{% block head_extras %}
<style type="text/css">
.quote_link{
	color: #E8F1F2
}
.social-section{
	padding: 10px;
	margin: 10px;
	text-align: center;
}</style>
{% endblock %}


{% block content_3 %}
<div class="container">
	<section class="text-section">
		<div class="row">
			<div class="col">
				<img class="card-img" src="http://placehold.it/100x100" alt="Card image">
			</div>
			<div class="col-lg-10">
				<p>Hi, I am <b>Ali Khundmiri</b></p>
				I'm saving money by buying the best products available in the market.				
				Here you will find some products that I have used & and I think you should use too.
			</div>
		</div>
	</section>

	<section class="text-section">
		<h2 class="text-center">About me</h2>
		<br>
		<p>Over the years I have learned that wealth is created by saving every penny. The moment I started saving a bit of money, I thought of buying random stuff, like everyone one else would. But them I thought, do I actually need any thing new?</p>
		<p>This forced me to evaluate everything that I possesed, was it worth replacing?</p>
		<p>Like for example, as of today, I have used my <br>
			 <a href="https://www.apple.com/in/macbook-pro/specs-2015/">macbook pro</a> for almost three years, without a single repair or trouble.<br>
			 <a href="https://amzn.to/2OZWQux">iPhone 6</a> for almost 2 years, without a trouble.<br>
			 <a href="https://amzn.to/2xP72zw">Sennheisers Headphones</a> for almost four years, without it loosing its quality.<br>
			 <a href="https://amzn.to/2RblcCS">Wildcraft bag</a> for almost 2 years, without a single wear or tear.<br>

		</p>
		<p>This made me realise I don't need to buy stuff again and again, if I buy from high quality producers.</p>
		<p>
			Some products are made to make your life easier.
		</p>
		<br>
		<p>
			I firmly believe that once we buy a product, we should make complete use of it, before it wears out.
			<br>
			And I hate it when something breaks or stops functioning mid-use when I have not used it to my full content.
		</p>
		<br>
		<p>
			On the other hand, there are some products which are there by your side for life.
		</p>
		<p>
			As a consumer, I know you would prefer to buy products which are long lasting, worth every penny, and most of all, useful.
		</p>
		<p>
			On this site, I have showcased some such products.
		</p>
		<a href="{% url 'core:lander' %}">Do enjoy these products.</a>
	</section>
	<section class="text-center text-section">
		<blockquote>
			<p>“If we command our wealth, we shall be rich and free. If our wealth commands us, we are poor indeed.”</p>
			<a href="https://en.wikipedia.org/wiki/Edmund_Burke"><p>Edmund Burke</p></a>
		</blockquote>
	</section>
	<section class="text-section text-center">
		<h5>Follow me over the internet</h5>
		<span class=" text-center">
			<a class="social-section" target="_blank" href="https://www.facebook.com/alicodermaker"><i class="fab fa-facebook-f fa-3x"></i></a>
			<a class="social-section" target="_blank" href="https://www.twitter.com/alicodermaker"><i class="fab fa-twitter fa-3x"></i></a> 
			<a class="social-section" target="_blank" href="https://www.instagram.com/alicodermaker"><i class="fab fa-instagram fa-3x"></i></a> 
		</span>
	</section>
</div>
{% endblock %}