{% extends 'base.html' %}
{% load customtags %}


{% block meta_description %}Lets go shopping!{% endblock %}

{% block meta_author %}Ali Khundmiri of AliCoderMaker{% endblock %}

{% block other_meta %}

<meta name="twitter:card" content="summary_large_image">

<meta name="twitter:site" content="@AliCoderMaker">

<meta name="twitter:creator" content="@AliCoderMaker">

<meta property="og:url" content="{{ request.build_absolute_uri }}">

<meta name="twitter:image" content="https://s3.amazonaws.com/side-projects/rs_directory/media/base/reven_sours_social_image.png">

<meta property="og:image" content="https://s3.amazonaws.com/side-projects/rs_directory/media/base/reven_sours_social_image.png">

<meta name="twitter:title" content="A Curated List of Real Online Income Sources!">

<meta property="og:title" content="A Curated List of Real Online Income Sources!">

<meta name="twitter:description" content="Check out the Database of websites which helps you earn money in exchange of real work. No survey sh!t, Just real deal.">

<meta property="og:description" content="Check out the Database of websites which helps you earn money in exchange of real work. No survey sh!t, Just real deal.">

{% endblock %}



{% block head_extras %}
<style type="text/css">
.quote_link{
	color: #E8F1F2
}
</style>
{% endblock %}


{% block content_3 %}
<div class="container">
	<!-- Jumbotron Header -->
	<header class="jumbotron text-section my-4" style="background-color: white">
		<h1>Ali <span style="color: red">Review</span> Stuff</h1>
		<p class="lead">I'm Ali, and on this website you can find products which I Love.<br>I have use products on this site for more than a year, and I am glad to share it with you guys. <a href="{% url 'core:about' %}">read more</a></p>
		<!-- <a href="#" class="btn btn-primary btn-lg">Call to action!</a> -->
	</header>
	
	<!-- Page Features -->
	<h2>Products</h2>
	<div class="card-columns text-section">
		
		{% for product in all_products %}
		{% if forloop.counter == 2 %} <!-- This number is the position of advert -->
		<div class="card bg-primary text-white text-center p-3">
			<blockquote class="blockquote mb-0">
				<p>I Endorse only the products and services which I personally use.</p>
				<footer class="blockquote-footer">
					<small>
						<cite title="Source Title"><a class="quote_link" href="twitter.com/AliCoderMaker">Ali Khundmiri</a></cite>
					</small>
				</footer>
			</blockquote>
		</div>
		{% endif %}
		{% if forloop.counter == 4 %} <!-- This number is the position of advert -->
		<div class="card">
			<img class="card-img" src="http://placehold.it/230x260" alt="Card image">
		</div>
		{% endif %}
		<div class="card">

			<img class="card-img-top center" src="{{product.image_url}}" alt="" style="max-width: 150px; margin-top: 40px">
			<!-- {{product.image_display}} -->
			<div class="card-body">
				<p><small style="color: gray">{{product.number_of_reviews}} reviews</small></p>
				<p class="card-text lead">
					{% if product.selling_price == 0 %}
					₹{{product.mrp}}
					{% else %}
					<small>
						<s style="color: gray">₹{{product.mrp}}</s>
					</small>
					<span style="color: red">₹{{product.selling_price}} 😲</span>
					{% endif %}
				</p>
				<h4 class="card-title">{{product.product_name}}</h4>
				<p class="card-text">I bought this {{product.using_since|dayssince}}.
					<br><br> It {% if product.replacement_available == False %} does not {% endif %}came with replacement option {% if product.replacement_available %} and {% else %} but {% endif %} {{product.warranty_years}} year{{ product.warranty_years|pluralize }} of support.
				</p>
			</div>
			<div class="card-footer text-center">
				<a href="{% url 'core:product_review' id=product.id %}" class="btn btn-primary">Read Review</a>
				<br>
				<a href="{{product.affiliate_url}}">Buy Now</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<!-- <section class="text-section text-center">
		<h4>Sponsor your product on this site</h4>
		<a href="">Learn more</a>
	</section> -->
</div>
{% endblock %}







